@CHARSET "UTF-8";
#crapstable {
	position: absolute;
}

#point {
	position: relative;
	top: 20px;
	left: 20px;
	background-image: url(pointmarker.png);
	background-position: 0px -20px;
	height: 20px;
	width: 20px;
}

#dice {
	position: relative;
	top: 25px;
	left: 570px;
}

#dice div {
	float: left;
	margin:10px;
	background-image: url(diefaces.svg);
	height: 79px;
	width: 79px;
}

#die1 {
	background-position: -42px -42px;
}

#die2 {
	background-position: -42px -42px;
}

#wagerentry {
	display: none;
	overflow: hidden;
	position: absolute;
	top: 120px;
	left: 100px;
	width: 200px;
	border: ridge gray;
	background-color: DarkGray;
}

.chips {
	position: absolute;
	overflow: hidden;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: green;
	border: 1px dotted black;
	font-size: 15px;
	text-align: center;
}
