@CHARSET "UTF-8";
#crapstable {
	position: absolute;
}

#dice {
	position: relative;
	top: 25px;
	left: 570px;
}

#dice div {
	float: left;
	margin:10px;
	background-image: url(diefaces.svg);
	height: 79px;
	width: 79px;
}

#die1 {
	background-position: -42px -42px;
}

#die2 {
	background-position: -42px -42px;
}